.form {
  width: 100%;
  & .input {
    color: red;
  }
}

.input {
  font-family: "Roboto", "Arial", sans-serif;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #a0a0a0;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  padding-left: 27px;
  text-transform: uppercase;
  height: 80px;
  position: relative;
  width: 100%;
}
