.form {
  width: 100%;
}

.input {
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #a0a0a0;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  padding-left: 27px;
  text-transform: uppercase;
}
