.party {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }
}
