.party {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  & h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }
}

.partyWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-right: calc(0px - var(--padding-middle)); */
}
